.Topo{
  width: 100%;
  height: 20%;
  background-color: #008b8b;
  text-align: center;
}
.Conteúdo{
  width: 75%;
  height: 65%;
  background-color: #a9a9a9;
  float: left;
}
.Lateral{
  width: 25%;
  height: 65%;
  float: right;
  background-color: #ffa500;
}
.Rodapé{
  width: 20%;
  height: 15%;
  background-color: #db7093;
  float: right;
  text-align: center;
}
